@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --main-color: #162C4E;
  --default-txt-color: #000000;
  --second-txt-color: #ffffff;
  --first-btn-background: #1D4169;
  --second-btn-background: #DF2224;

}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  /* max-width: 1920px; */
  font-family: 'Poppins', sans-serif;  
}

.hidden {
  overflow: hidden;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(.98);
}
 
.header {
  width: 100%;
  height: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__leftcorner {
  position: absolute;
  top: 0;
  left: 0;
}

.header__rightcorner {
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content {
  margin: 32px 0 25px;
}

.content__title {
  margin: 0;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 104%;
  text-transform: uppercase;
  color: var(--main-color);
  opacity: .39;
}

.content__subtitle,
.to-event__txt {  
  font-size: 1.125rem;
  opacity: .8;
  line-height: 150%;
}

.content__subtitle {
  width: 425px;
  margin: 0 auto;
  margin: 10px auto 0;
}

.timer {
  display: flex;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 4.5rem;
  color: var(--main-color);
}

.timer__label {
  position: relative;
  line-height: 80%;
}

.timer__label-desktop,
.timer__label-mobile {
  position: absolute;  
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--second-txt-color);
}

.timer__label-mobile {
  visibility: hidden;
}

.to-event {
  margin-bottom: 76px;
}

.to-event__txt {
  font-size: 1.125rem;
  line-height: 150%;
  margin-bottom: 10px;
}

.button {
  padding: 0 25px;  
  border: none;
  border-radius: 40px;
  background: var(--first-btn-background);
  line-height: 150%;
  font-size: 1.125rem;
  color: var(--second-txt-color);
}

.to-event__btn {
  width: 240px;
  height: 60px; 
}

.to-event__btn > img {
  margin-left: 27px;
  vertical-align: middle;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 192px;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
}

.subscription {
  position: relative;  
}

.subscription__input {
  width: 440px;
  height: 60px;
  border: none;
  border-radius: 40px;
  padding: 0 8px 0 27px;
}

.subscription__btn {
  width: 43px;
  height: 43px;
  position: absolute;
  top: 9px;
  right: 9px;
  border: none;
  border-radius: 50%;
  background: var(--second-btn-background);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(22, 44, 78, 0.6);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal__content {
  position: relative;
  width: 320px;
  height: 370px;
  padding: 68px 25px 0;
  background: white;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 16px;
  cursor: pointer;
}

.modal__notice {
  margin-bottom: 30px;
  line-height: 150%;
  opacity: .8;
}

.modal__title {
  font-size: 2.25rem;
  text-transform: uppercase;
  color: var(--main-color);
}

.modal__btn {
  width: 200px;
  height: 60px;
}

@media (max-width: 1100px) {
  .header__leftcorner {
    top: -50px;
    left: -30px;
  }
  
  .header__rightcorner {
    right: -30px;
  }

  .content__title {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .header {
    height: 260px;
  }

  .header__leftcorner {
    width: 250px;
    top: -15px;
    left: -6px;
  }
  
  .header__rightcorner {
    width: 350px;
    top: -25px;
    right: -60px;
    transform: rotate(-10deg);
  }

  .content {
    margin: 66px 0 40px;
  }

  .content__title {
    font-size: 2.25rem;
  }

  .content__subtitle {
    margin: 20px auto 0;
    font-size: 1rem;
    width: 300px;
  }

  .timer {
    font-size: 2.25rem;
    margin-bottom: 22px;
  }

  .timer__label-desktop {
    visibility: hidden;
  }

  .timer__label-mobile {
    visibility: visible;
    font-size: .75rem;
  }

  .timer__label-img {
    width: 64px;
    height: 40px;
  }

  .timer__separator {
    margin: 0 12px;
  }

  .to-event {
    margin-bottom: 172px;
  }

  .to-event__txt {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .footer {
    height: 160px; 
    position: static;
  }

  .subscription__input {
    width: 360px;
    height: 40px;
    padding: 0 4px 0 20px;
  }

  .subscription__input::placeholder {
    font-size: .8rem;
  }

  .subscription__btn {
    width: 33px;
    height: 33px;
    top: 4px;
    right: 4px;
  }
}

@media (max-width: 500px) {

  .header {
    height: 185px;
    padding-top: 15px;
  }

  .header__leftcorner {
    width: 200px;
    top: -30px;
    left: -20px;
  }
  
  .header__rightcorner {
    width: 250px;
    top: -15px;
    right: -65px;
    transform: rotate(-5deg);
  }

  .logo__img {
    height: 40px;
  }

  .content {
    margin: 0 0 40px;
  }

  .content__subtitle {
    margin: 15px auto 0;
  }

  .timer__separator {
    margin: 0 5px;
  }

  .to-event {
    margin-bottom: 86px;
  }

  .footer {
    height: 140px;
  }

  .subscription__input {
    width: 280px;   
    padding: 0 4px 0 20px;
  }

  .to-event__txt {
    font-size: 1rem;
    margin-top: 18px;
  }

}